
Sentinel-2_no_emissionMBMP.GTiff.aux.xml
Sentinel-2_no_emissionMBMP.GTiff
Sentinel-2_active_emissionMBMP.GTiff.aux.xml
Sentinel-2_active_emissionMBMP.GTiff
/Gas_Timeseries_results
/.ipynb_checkpoints
.ipynb_checkpoints/Sentinel_5P_Atmospheric_Gas_Time_Series-checkpoint.ipynb
.ipynb_checkpoints/Sentinel 2 CH4 Multi-Band-Multi-Pass-checkpoint.ipynb
Sentinel-5P_Spain.GTiff
Sentinel-5P_Spain3857.GTiff
.ipynb_checkpoints/Sentinel_5P_Atmospheric_Gas_Map-checkpoint.ipynb
.ipynb_checkpoints/S2HRM\[emission_date_here\]-checkpoint.jpg
.ipynb_checkpoints/Sentinel 2 CH4 Multi-Band-Single-Pass-checkpoint.ipynb
S2HRM\[emission_date_here\].jpg
Sentinel-2_active_emissionMBSP.GTiff
Sentinel-2_truecolourMBSP.GTiff
S2HRM\[emission_date_here\].jpg
S2MBSP\[emission_date_here\].jpg
S2MBMP\[emission_date_here\].jpg
Sentinel 2 Multi-Band-Multi-Pass/Sentinel-2_truecolourMBMP.GTiff
Sentinel-5P_Spain.GTiff.aux.xml
/Editing files for how to guide
s2_ch4_code_share.zip
